body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    overflow-x: hidden;
}

.title {
    font-family: 'Fascinate', cursive;
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 2rem;
}

.textCenter {
    width: 100%;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

@font-face {
    font-family: "Open Dyslexic";
    src: url("../../static/OpenDyslexic-Regular.otf");
}

.dyslexiaFont {
    font-family: "Open Dyslexic";
}

.bigFont {
    font-size: 48px !important;
}

.linkNormal{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.5s ease;
    color: black;
}
.linkNormal:hover{
    color: #5CDB95 !important;
}

@media only screen and (max-width: 1100px) {
    .container {
        width: 100%;
    }
    .title {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.25rem;
    }
}