body{
    font-family: 'Open Sans', sans-serif;
}

.title{
    
    font-family: 'Fascinate', cursive;
}

h1{
    font-size: 5rem;
}

h3{
    font-size: 2rem;
}

.textCenter{
    width: 100%;
    text-align: center;
}
